@import '../sass/vars.scss';

.accessForm {
    display: flex;
    flex-direction: column;
    width: $FormWidth;
    min-width: $FormMinWidth;
    max-width: $FormMaxWidth;
    .alertMsg{
        text-align: center;
        color: white;
    }
    #mainForm {
        padding: 0;
        margin: 0;
        .title {
            width: $FormWidth;
            min-width: $FormMinWidth;
            max-width: $FormMaxWidth;
            h4 {
                color: $custRose;
                font-size: 30px;
                font-weight: bold;
                background-color: $mainDarkColor;
                border: 0px solid white;
                text-align: center;
                width: 100%;
                padding: 15px 30px;
                margin: 0;
            }
            .selectedOption {
                    background-color: white;
                }
            margin: 0;
            color: $custRose;
            display: flex;
            justify-content: space-between;
            font-size: 2rem;
        }
        #register:hover {
                color: white;
        }
        #signin:hover {
            color: white;
        }
        #register.selectedOption:hover {
            color: $custBlue;
        }
        #signin.selectedOption:hover {
            color: $custBlue;
        }
        .formContent {
            border: 5px solid white;
            min-height: 350px;
            padding: 40px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background-color: #b5bcec40;
            p {
                color: white;
                font-weight: white;
                text-align: left;
                width: 80%;
                strong {
                    color: #c13f35;
                }
            }
            input.name,
            input.pass {
                padding-left: 8px;
                color: gray;
                width: 80%;
                height: 35px;
                border: 2px solid lightgray;
                border-radius: 10px;
            }
        }
    }
}

.modal.dark {
    .modal-content {
        background-color: #343a40;
        color: white;
    }
}