{% extends "base.html" %}

{% block head %}
<script src="templates/assets/js/ajaxFormLoading.js"></script>
{% endblock %}

{% block content %}
<div class="accessForm">
    <p class="alertMsg">{{loginMsg}}</p>
    <div id="access"></div>
</div>
{% endblock %}