@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\000033}}
.accessForm {
  display: flex;
  flex-direction: column;
  width: 30vw;
  min-width: 400px;
  max-width: 450px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\000039}}
.accessForm .alertMsg {
  text-align: center;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\0000313}}
.accessForm #mainForm {
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\0000316}}
.accessForm #mainForm .noSubmitButton {
  user-select: none;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\0000320}}
.accessForm #mainForm .title {
  width: 30vw;
  min-width: 400px;
  max-width: 450px;
  margin: 0;
  color: #ce125a;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\0000324}}
.accessForm #mainForm .title h4 {
  color: #ce125a;
  font-size: 30px;
  font-weight: bold;
  background-color: #ce121200;
  border: 0px solid white;
  text-align: center;
  width: 100%;
  padding: 15px 30px;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\0000335}}
.accessForm #mainForm .title .selectedOption {
  background-color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\0000344}}
.accessForm #mainForm #register:hover {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\0000347}}
.accessForm #mainForm #signin:hover {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\0000350}}
.accessForm #mainForm #register.selectedOption:hover {
  color: #3596dc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\0000353}}
.accessForm #mainForm #signin.selectedOption:hover {
  color: #3596dc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\0000356}}
.accessForm #mainForm .formContent {
  border: 5px solid white;
  min-height: 350px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #b5bcec40;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\0000365}}
.accessForm #mainForm .formContent p {
  color: white;
  font-weight: white;
  text-align: left;
  width: 80%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\0000370}}
.accessForm #mainForm .formContent p strong {
  color: #c13f35;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\0000374}}
.accessForm #mainForm .formContent input.name,
.accessForm #mainForm .formContent input.pass {
  padding-left: 8px;
  color: gray;
  width: 80%;
  height: 35px;
  border: 2px solid lightgray;
  border-radius: 10px;
}
