@import url("https://use.fontawesome.com/releases/v5.15.1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto");
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\000033}}
.accessForm {
  display: flex;
  flex-direction: column;
  width: 30vw;
  min-width: 400px;
  max-width: 450px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\000039}}
.accessForm .alertMsg {
  text-align: center;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\0000313}}
.accessForm #mainForm {
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\0000316}}
.accessForm #mainForm .noSubmitButton {
  user-select: none;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\0000320}}
.accessForm #mainForm .title {
  width: 30vw;
  min-width: 400px;
  max-width: 450px;
  margin: 0;
  color: #ce125a;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\0000324}}
.accessForm #mainForm .title h4 {
  color: #ce125a;
  font-size: 30px;
  font-weight: bold;
  background-color: #ce121200;
  border: 0px solid white;
  text-align: center;
  width: 100%;
  padding: 15px 30px;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\0000335}}
.accessForm #mainForm .title .selectedOption {
  background-color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\0000344}}
.accessForm #mainForm #register:hover {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\0000347}}
.accessForm #mainForm #signin:hover {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\0000350}}
.accessForm #mainForm #register.selectedOption:hover {
  color: #3596dc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\0000353}}
.accessForm #mainForm #signin.selectedOption:hover {
  color: #3596dc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\0000356}}
.accessForm #mainForm .formContent {
  border: 5px solid white;
  min-height: 350px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #b5bcec40;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\0000365}}
.accessForm #mainForm .formContent p {
  color: white;
  font-weight: white;
  text-align: left;
  width: 80%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\0000370}}
.accessForm #mainForm .formContent p strong {
  color: #c13f35;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\0000374}}
.accessForm #mainForm .formContent input.name,
.accessForm #mainForm .formContent input.pass {
  padding-left: 8px;
  color: gray;
  width: 80%;
  height: 35px;
  border: 2px solid lightgray;
  border-radius: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/form\.scss}line{font-family:\0000388}}
#editModal .modal-content {
  background-color: #343a40;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/nav-bar\.scss}line{font-family:\000033}}
.navbar {
  color: white !important;
  box-shadow: -4px 5px 12px 0px #0a0a0a;
  position: sticky;
  z-index: 999;
  top: 0;
  width: 100vw;
  height: 60px;
  background-color: #2b2e2f !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/nav-bar\.scss}line{font-family:\000035}}
.navbar img {
  width: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/nav-bar\.scss}line{font-family:\000039}}
.navbar #navbarNav ul {
  margin-left: auto !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/nav-bar\.scss}line{font-family:\0000320}}
.navbar li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/nav-bar\.scss}line{font-family:\0000326}}
.navbar a {
  color: white !important;
  text-decoration: none;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/nav-bar\.scss}line{font-family:\0000332}}
.navbar .mainButton {
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/nav-bar\.scss}line{font-family:\0000336}}
.navbar a,
.navbar .mainButton {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/nav-bar\.scss}line{font-family:\0000342}}
.navbar .mainButton {
  margin-bottom: 0px;
  margin-left: 15px;
  width: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/nav-bar\.scss}line{font-family:\0000347}}
.navbar .mainButton:hover {
  color: white !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/nav-bar\.scss}line{font-family:\0000350}}
.navbar a {
  animation: linkIn 0.5s forwards;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/nav-bar\.scss}line{font-family:\0000353}}
.navbar a:hover {
  color: #3596dc !important;
  animation: linkOut 0.5s forwards;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/nav-bar\.scss}line{font-family:\0000357}}
.navbar .navbar-brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/nav-bar\.scss}line{font-family:\0000362}}
.navbar .navbar-collapse.collapse.show,
.navbar .navbar-collapse.collapsing {
  background-color: #2b2e2f;
  padding: 0 20px;
  width: 100vw;
  margin-left: -16px;
  margin-right: -16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/nav-bar\.scss}line{font-family:\0000364}}
.navbar .navbar-collapse.collapse.show .mainButton,
.navbar .navbar-collapse.collapsing .mainButton {
  margin-left: 0px;
  margin-bottom: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/manage\.scss}line{font-family:\000032}}
.usersTable .table td, .usersTable .table th {
  vertical-align: inherit !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/global\.scss}line{font-family:\0000311}}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #171c21;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/global\.scss}line{font-family:\0000312}}
body .content {
  min-height: 74vh !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/global\.scss}line{font-family:\0000319}}
body .truncate {
  overflow: scroll;
  max-width: 90vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/global\.scss}line{font-family:\0000323}}
body h1 {
  font-weight: 800;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/global\.scss}line{font-family:\0000327}}
body .code {
  padding: 0;
  margin: 0;
  font-size: 5rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/global\.scss}line{font-family:\0000332}}
body .footer {
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #212a35;
  border-radius: 20px 20px 0 0;
  margin: 0 50px;
  margin-top: 50px;
  padding: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/global\.scss}line{font-family:\0000333}}
body .footer p {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/global\.scss}line{font-family:\0000337}}
body .footer a {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/global\.scss}line{font-family:\0000351}}
body .notFound {
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/global\.scss}line{font-family:\0000356}}
body .notFound img {
  background-color: white;
  border-radius: 100%;
  padding: 20px 45px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/global\.scss}line{font-family:\0000361}}
body .notFound * {
  margin-bottom: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braian\/Desktop\/Personal\/makeUsers\/public\/templates\/assets\/theme\/sass\/global\.scss}line{font-family:\0000365}}
body .mainButton {
  margin-top: 40px;
  padding: 5px 40px;
  background-color: #c13f35;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  border: 3px solid #c13f35;
  border-radius: 10px;
}

@keyframes linkIn {
  0% {
    font-size: 130%;
  }
  100% {
    font-size: 100%;
  }
}
@keyframes linkOut {
  0% {
    font-size: 100%;
  }
  100% {
    font-size: 130%;
  }
}
