<form action="/login" method="POST">
    <div id="mainForm">
        <div class="title">
            <h4 id="signin" class="selectedOption noSubmitButton">Sign In</h4>
            <h4 id="register" class="noSubmitButton">Register</h4>
        </div>
        <div class="formContent">
            <div class="email pb-3 w-100 d-flex flex-column align-items-center">
                <p>Your Email <strong>*</strong></p>
                <input type="email" name="email" class="name" placeholder="Email" required>
            </div>
            <div class="pass pb-3 w-100 d-flex flex-column align-items-center">
                <p>Your Password <strong>*</strong></p>
                <input type="password" name="pass" class="pass" placeholder="Password" required>
            </div>
            <input class="mainButton" type="submit" value="Login">
        </div>
    </div>
</form>