<form action="/register" method="POST">
    <div id="mainForm">
        <div class="title">
            <h4 id="signin" class="noSubmitButton">Sign In</h4>
            <h4 id="register" class="selectedOption noSubmitButton">Register</h4>
        </div>
        <div class="formContent">
            <p>Your Email <strong>*</strong></p>
            <input type="email" name="email" class="name" placeholder="Email">
            <p>Your Password <strong>*</strong></p>
            <input type="password" name="password" class="pass" placeholder="Password">
            <input type="submit" value="Login">
        </div>
    </div>
</form>