{% extends "base.html" %}

{% block content %}
<div class="notFound">
    <img class="noStyled" src="https://www.incluyeme.com/wp-content/uploads/2018/08/404-1.png" alt="Error_robot">
    <h1 class="text-center">{{msg}}</h1>
    <img class="noStyled" src="https://www.danielguillamon.com/wp-content/uploads/2018/08/404.png" alt="Error_robot">
</div>
{% endblock %}