{% extends "base.html" %}

{% block content %}
<div class="internalError">
    <h1 class='code'>{{code}}</h1>
    <h1>{{msg}}</h1>
    <img src="https://www.google.com/images/errors/robot.png" alt="Error_robot">
</div>
{% endblock %}